.container {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.container .body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

svg {
  width: auto;
  height: auto;
}

h1 {
  font-size: 3rem;
}

.drawerContent{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drawerContent #standard-required{
  min-width: 300px;
}

.drawerContent #button{
  min-width: 328px;
}
.circularBar{width:100;}

.chart {
}